.effect {

}

.effect__container {

}

.effect__body {
	text-align: center;
	font-size: 14px;
	line-height: lhperc(14, 25);
}

.effect__text {

}

.effect__title {
	display: inline-block;
	font-size: 35px;
	font-weight: 700;
	color: $light;
	line-height: lhperc(35, 30);
	background: $accent;
	padding: 16px 20px;
	margin-top: 50px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	@media (max-width: 900px) {
		font-size: 30px;
	}

	@media (max-width: 700px) {
		font-size: 24px;
	}
}

.effect__content {
	display: flex;
	align-items: center;
	margin-top: 32px;

	@media (max-width: 900px) {
		flex-direction: column-reverse;
	}
}

.effect__content-text {
	max-width: 584px;
	line-height: lhperc(14, 30);

	@media (max-width: 900px) {
		margin-top: 24px;
	}
}

.effect__ill {
	min-width: 350px;
	max-width: 524px;

	& img {
		height: auto;
	}

	@media (max-width: 900px) {
		max-width: 450px;
	}
}
