.main__area {
	position: relative;
	z-index: 2;
}

.main {
	padding-top: 70px;
	margin-bottom: -70px;

	@media (max-width: $tablet) {
		padding-top: 50px;
		margin-bottom: -40px;
	}

	@media (max-width: $mobile-l) {
		padding-top: 30px;
		margin-bottom: -20px;
	}
}

.main__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 40px;

	@media (max-width: 900px) {
		font-size: 30px;
	}

	@media (max-width: 700px) {
		font-size: 24px;
	}

	@media (max-width: 560px) {
		font-size: 20px;
	}

	@media (max-width: 480px) {
		font-size: 16px;
	}
}

.main__title {
}

.main__slogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: 800;
	color: $accent;
	text-transform: uppercase;
	margin-top: 24px;

	& span {
		display: inline-block;
		background: $light;
		padding: 8px 16px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	@media (max-width: $mobile-l) {
		margin-top: 16px;
	}
}

.main__body {
	position: relative;
    aspect-ratio: 1 / .45;
	margin-top: 32px;

	@media (max-width: $laptop) {
		aspect-ratio: 1 / .55;
	}

	@media (max-width: 900px) {
		aspect-ratio: 1 / .65;
	}
}

.main__content {
	position: relative;
	z-index: 4;
    width: 95%;
    margin: 0 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@media (max-width: 600px) {
		flex-direction: column;
		margin: 0 auto;
	}
}

.main-age {
	position: relative;
	z-index: 1;
	max-width: 240px;
	width: 100%;
	aspect-ratio: 1 / 1;

	@media (max-width: 600px) {
		max-width: 200px;
	}

	// &::before {
	// 	content: '';
	// 	position: absolute;
	// 	z-index: -1;
	// 	top: 51%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	width: 120%;
	// 	aspect-ratio: 1 / 1;
	// 	background: center/contain no-repeat url('../img/round-points.png');
	// }
}

.main-age__circle {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #EF7F1A;
	border-radius: 50%;
	border: 10px solid $light;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
	overflow: hidden;
}

.main-age__text {
    width: 82%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 23px;
	font-weight: 500;
	line-height: lhperc(23, 35);
	color: $light;
	text-align: center;
	text-transform: uppercase;

	& span {
		font-size: 45px;
		line-height: lhperc(45, 35);
		margin-top: 8px;
	}
}

.main-advant {
	max-width: 380px;

	@media (max-width: 800px) {
		padding-left: 32px;
	}

	@media (max-width: 600px) {
		max-width: none;
		padding-left: 0;
		margin-top: 16px;
	}

	& > * {

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
}

.main-advant__item {
	position: relative;
	font-size: 14px;
	padding-left: 50px;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		aspect-ratio: 1 / 1;
		background: center/contain no-repeat url('../img/tick-blue.png');
	}
}

.main__img {
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 122%;
	pointer-events: none;

	@media (max-width: $container-width + px) {
		width: 100%;
	}

	@media (max-width: 800px) {
		position: relative;
		left: 0;
		transform: none;
	}
}
