// Тоглер (кнопка, по которой открывается аккордеон)
.acc-toggler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	background: #fafafa;
    padding: 16px;
    text-align: left;
    cursor: pointer;

	&.acc-is-open {

		& .acc-toggler__icon {

			& span {

				&:nth-child(2) {
					width: 0;
				}
			}
		}
	}
}

.acc-toggler__title {
    transition: $tr;
}

.acc-toggler__icon {
    position: relative;
    min-width: 24px;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 16px;
    transition: $tr;

	& span {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 70%;
		height: 2px;
		background: $text-primary;
		transition: $tr;

		&:nth-child(1) {
			transform: translate(-50%, -50%);

		}

		&:nth-child(2) {
			transform: translate(-50%, -50%) rotate(90deg);

		}
	}
}

// Тело аккордеона
.acc {
    overflow: hidden;
    transition: $tr;
}

.acc__content {
    padding: 0 16px 16px;
}
